
    <div style="padding-top: 7%; padding-left: 24%;">
        <div class="card "  style="width: 55rem;">
            <div class="card-body">
                <h1>Parece que estas perdido</h1>
                <p class="zoom-area">La página que buscas aun no se encuentra disponible! </p>
                <section class="error-container">
                <span>4</span>
                <span><span class="screen-reader-text">0</span></span>
                <span>4</span>
                </section>
            </div>
        </div>    
    </div>

