<div id="map-box"></div>

<div class="row">
    <div class="col-sm-6 center-div" >
        <div class="card text-center" >
            <div class="card-header">
                <h2><b>{{name_preference}}</b></h2>
            </div>
            <div class="card-body">
                <h5 class="card-title"><b>Tipo clima</b></h5>
            <p class="card-text">{{weather_type}}</p>
            <h5 class="card-title"><b>Temperatura máxima</b></h5>
            <p class="card-text">{{temp_max}}</p>
            <h5 class="card-title"><b>Temperatura mínima</b></h5>
            <p class="card-text">{{temp_min}}</p>
            </div>
        </div>
    </div>
    
    <div class="col-sm-3 center-div2" >
        <div class="card text-center" >
            <div class="card-header">
                <h2><b>{{name_preference}}</b></h2>
            </div>
            <div class="card-body">
            <h5 class="card-title"><b>Humedad</b></h5>
            <p class="card-text">{{humidity}}</p>
            <h5 class="card-title"><b>Velocidad del viento</b></h5>
            <p class="card-text">{{wind_speed}}</p>
            </div>
        </div>
    </div>
</div>

