<div class="center-div" >
    <div class="card" >
        <div class="card-header text-center">
            <h1 class="display-3">Weather App</h1>
        </div>
        <div class="card-body">
            <h4>
                Bienvenido a nuestra aplicación, acá podrás encontrar toda la información relacionada
                con el clima actual, además podrás guardar la información de los países que desees
                conocer su clima y acceder de manera más rápida, todo esto desde tu propio perfil.
            </h4>
            <br>
            <h4>
                Lo primero a realizar para poder acceder a nuestra aplicación es registrarte
                o acceder con tu usuario creado anteriormente.
            </h4>
            <br>
            <h3 class="text-center">
                Ven y descubre todo lo relacionado con el clima actual del lugar que deseas.
            </h3>
            <br>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="7000">
                    <img src="https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Soleado</h5>
                      <p>Climas perfectos para salir a la playa, enterate cuando el clima al lugar donde deseas viajar se encuentre así.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                    <img src="https://images.pexels.com/photos/414491/pexels-photo-414491.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Nublado</h5>
                      <p>Maravilloso clima para realizar caminatas, y podrás determinar si el clima se encuentra así desde nuestra aplicación.</p>
                    </div>
                  </div>
                  <div class="carousel-item" data-bs-interval="7000">
                    <img src="https://cdn.pixabay.com/photo/2019/01/25/11/41/rain-3954273_1280.jpg" class="d-block w-100 h-50" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Lluvia</h5>
                      <p>Prepara tu paraguas antes de salir de casa, gracias a nuestra aplicación puedes determinar este clima facilmente</p>
                    </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>